<!doctype html>
<html>
<head>
    <title>Call Messages</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="index">
<div class="container">

    <div class="jumbotron text-center"   style="background-color: lightblue;">

        <h1>Message Log</h1>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <img  class="indexImg"src="https://www.extenderlinksyssetup.com/wp-content/uploads/2020/01/request-callback-300x202.png" alt="">

    </div>

</div>
</body>
</html>
